<h3>Add New Faq</h3>
<form #faqForm="ngForm" (ngSubmit)="onAddFaq(faqForm)">
  <div class="mb-3">
    <label for="question" class="form-label">Question</label>
    <input [(ngModel)]="newFaq.question" name="question" id="question" class="form-control" placeholder="Question" required #questionInput="ngModel">
    <div *ngIf="questionInput.invalid && (questionInput.dirty || questionInput.touched)" class="alert alert-danger">
      <div *ngIf="questionInput.errors?.['required']">Question is required.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="answer" class="form-label">Answer</label>
    <input [(ngModel)]="newFaq.answer" name="answer" id="answer" class="form-control" placeholder="Answer" required minlength="5" #answerInput="ngModel">
    <div *ngIf="answerInput.invalid && (answerInput.dirty || answerInput.touched)" class="alert alert-danger">
      <div *ngIf="answerInput.errors?.['required']">Answer is required.</div>
      <div *ngIf="answerInput.errors?.['minlength']">Answer must be at least 5 characters long.</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!faqForm.form.valid">Add Faq</button>
</form>

<div class="container-fluid">
    <h3 class="text-center">Faqs</h3>
    <table class="table table-striped table-bordered table-hover mx-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (faq of faqs; track faq.id) {
        <tr>
          <th scope="row">{{faq.id}}</th>
          <td>
            @if (editingFaq === faq.id) {
              <input [(ngModel)]="faq.question" (blur)="OnUpdateFaq(faq)" (keyup.enter)="OnUpdateFaq(faq)">
            } @else {
              {{faq.question}}
            }
          </td>
          <td>
            @if (editingFaq === faq.id) {
              <input [(ngModel)]="faq.answer" (blur)="OnUpdateFaq(faq)" (keyup.enter)="OnUpdateFaq(faq)">
            } @else {
              {{faq.answer}}
            }
          </td>
          <td>
            @if (editingFaq === faq.id) {
              <button class="btn btn-success btn-sm" *ngIf="faq.id" (click)="OnUpdateFaq(faq)">Save</button>
            } @else {
              <button class="btn btn-primary btn-sm" *ngIf="faq.id" (click)="startEditing(faq.id)">Edit </button>&nbsp;
            }
            <button class="btn btn-danger btn-sm" *ngIf="faq.id" (click)="OnDeleteFaq(faq.id)">Delete</button>
          </td>
        </tr>
        }
      </tbody>
    </table>

