<div class="container-fluid">
  <h3 class="text-center">Categories</h3>
  <table class="table table-striped table-bordered table-hover mx-auto">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories; track category.id) {
      <tr>
        <th scope="row">{{category.id}}</th>
        <td>{{category.cat_image}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        @if (category.id) {
          <td>
            <button class="btn btn-danger btn-sm" (click)="OnDeleteCategory(category.id)">Delete</button>
          </td>
        }
      </tr>
      }
    </tbody>
  </table>

  <h3 class="text-center">Products</h3>
  <table class="table table-striped table-bordered table-hover mx-auto">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Rating</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products; track product.id) {
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.product_image}}</td>
        <td>{{product.name}}</td>
        <td>${{product.price}}</td>
        <td>{{product.description}}</td>
        <td>{{product.rating}}</td>
        <td>{{product.categoryname}}</td>
        @if (product.id) {
          <td>
            <button class="btn btn-danger btn-sm" (click)="OnDeleteProduct(product.id)">Delete</button>
          </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>
<div class="container-fluid">
    <h3 class="text-center">Faqs</h3>
    <table class="table table-striped table-bordered table-hover mx-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
        </tr>
      </thead>
      <tbody>
        @for (faq of faqs; track faq.id) {
        <tr>
          <th scope="row">{{faq.id}}</th>
          <td>{{faq.question}}</td>
          <td>{{faq.answer}}</td>
          @if (faq.id) {
            <td><button class="btn btn-danger btn-sm" (click)="OnDeleteFaq(faq.id)">Delete</button></td>
          }
        </tr>
        }
      </tbody>
    </table>