<div class="container">
    <h1>Order History</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order #</th>
          <th>Date</th>
          <th>Total</th>
          <th>Status</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (order of orders; track order.id) {
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.orderDate | date:'short'}}</td>
                <td>{{order.totalAmount | currency}}</td>
                <td>{{order.status}}</td>
     
                <td>
                  <button class="btn btn-sm btn-primary" (click)="openModal(order)">View Details</button>
                </td>
              </tr>
        }
      </tbody>
    </table>
  </div>

  @if(showModal && selectedOrder) {
    <div class="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
      <h6>Order Summary</h6>
          <ul>
            <li>Order #: {{selectedOrder.id}}</li>
            <li>Date: {{selectedOrder.orderDate | date:'short'}}</li>
            <li>Total: {{selectedOrder.totalAmount | currency}}</li>
            <li>Status: {{selectedOrder.status}}</li>
          </ul>
            <h4>Items:</h4>
            <ul>
              @for (item of selectedOrder.items; track item.id) {
                <li>
                  {{ item.product.name }} - Quantity: {{ item.quantity }} - Price: {{ item.price | currency }}
                </li>
              }
          </ul>
          </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
  }


  