/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

body, ul, li, p, a, label, input, div {
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    padding: 0;
    margin: 0;
  }
